<div layout="row" layout layout-fill >
  <md-sidenav  class="md-sidenav-left md-whiteframe-1dp my-nav" md-component-id="left" 
              md-is-locked-open="$mdMedia('gt-sm')"  >
    <md-toolbar md-scroll-shrink > <!-- to resize toolbar --> 
      <div class="md-toolbar-tools"  >
        <h3>FOCUS</h3>
      </div>
    </md-toolbar>

    <md-content ng-controller="MenuController" name="toggleMenu" role="navigation" ><!-- to resize toolbar --> 
      <ul class="side-menu">
        <li ng-repeat="section in menu.sections" class="parent-list-item"
            ng-class="{'parentActive' : vm.isSectionSelected(section)}">

          <h2 class="menu-heading" ng-if="section.type === 'heading'"
              id="heading_{{ section.name | nospace }}">
            {{section}}
          </h2>
           <!--
          <menu-link section="section" ng-if="section.type === 'link'"></menu-link>
          -->
          <menu-toggle section-name="section" section="menu.menu[section]"></menu-toggle>

        </li>
      </ul>
    </md-content>
  </md-sidenav>
  <md-content  class="main-view"  style="margin: auto auto;">
      
        <div ng-include="content"></div>
      

  </md-content>
</div>