<style>


}

</style>
<md-content class="md-no-momentum" style="width: 35vw;padding: 50px" >
    <md-input-container md-no-float="" class="md-block">
        <!-- Use floating label instead of placeholder -->
        <md-icon >person</md-icon>
        <input ng-model="user.name" type="text" placeholder="Usuario">
    </md-input-container>

    <md-input-container md-no-float="" class="md-block">
        <md-icon >phone</md-icon>
        <input ng-model="user.phone" type="text" placeholder="Phone Number">
    </md-input-container>

    <md-input-container md-no-float="" class="md-block">
        <!-- Use floating placeholder instead of label -->
        <md-icon  class="email">email</md-icon>
        <input ng-model="user.email" type="email" placeholder="Email)" ng-required="true">
    </md-input-container>

    <md-input-container md-no-float="" class="md-block">
        <input ng-model="user.address" type="text" placeholder="Address">
        <md-icon  style="display:inline-block;">place</md-icon>
    </md-input-container>

    <md-input-container class="md-icon-float md-icon-right md-block">
        <label>Donation Amount</label>
        <md-icon md-svg-src="img/icons/ic_card_giftcard_24px.svg"></md-icon>
        <input ng-model="user.donation" type="number" step="0.01">
        <md-icon md-svg-src="img/icons/ic_euro_24px.svg"></md-icon>
    </md-input-container>

    <md-button class="md-raised md-primary" ng-click="reporte()">Button</md-button>
</md-content>



