<div class="container" style="width: 100%;height: 100%">
  <div style="position:relative;left:auto">
    <h2>Resultado Consulta</h2>
    <p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p>
  </div>

  <div class="container" style="width:90%;overflow: scroll;">

    <table class="table table-bordered">
      <thead>
        <tr>
          <th ng-repeat="column in tabla.head">{{column | uppercase}}</th>        
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in tabla.content">
          <td ng-repeat="column in tabla.head">{{row[column]}}</td>        
        </tr>      
      </tbody>
    </table>
  </div>

  <div style="position:relative;left:auto;padding:50px">
    <h2>Guardar como:</h2>
    <button type="button" class="btn btn-primary">Excel</button>
    <button type="button" class="btn btn-success">ASD</button>
    <button type="button" class="btn btn-danger">PDF</button>    
  </div>
</div>